<header class="header">
  <div class="container">
    <div class="menu">
      <img src="/img/logo.png" alt="" />
      <nav class="link">
        <a href="http://">Home</a>
        <a href="http://">Produtos</a>
        <a href="http://">Depoimentos</a>
        <a href="http://">Blog</a>
      </nav>
      <div class="menu-right">
        <span>+00 123 456 789</span>
        <button class="btn-primary">Contato</button>
      </div>
      <div class="menu-mobile">
        <img src="/img/menu-icon.svg" alt="menu-mobile" />
      </div>
    </div>
  </div>
</header>
