<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/blog.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Raleway", sans-serif;
      }
    </style>
    <title>Blog - devHouse</title>
  </head>
  <body>
    <div class="container">
      <section>
        <h1>DH News</h1>

        <strong>Postado em 21/07/2021</strong>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
          soluta doloribus alias, dolorum, hic dolorem maxime dicta praesentium
          consequatur eveniet facilis quaerat excepturi facere incidunt ipsum
          repellendus inventore numquam. Culpa? Lorem ipsum dolor sit amet
          consectetur adipisicing elit. <strong>Accusantium dicta</strong> sint
          vero a cupiditate ex laboriosam, quos maxime architecto soluta ratione
          perspiciatis illo, suscipit numquam, ipsum aut magnam neque. Quasi?
        </p>
      </section>
      <img src="/img/destaque.webp" width="100%" alt="imagem da sala de aula" />
      <section>
        <h2>Dolor sit amet consectetur</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
          animi iusto recusandae possimus, nisi eligendi voluptatem ratione
          voluptates soluta. Aperiam consequuntur maiores quod magni. Nam
          pariatur saepe consectetur assumenda expedita.
        </p>
        <ol>
          <li>Lorem ipsum dolor sit amet consectetur</li>
          <li>Voluptas quia dolorum at, doloremque vero</li>
          <li>Ratione aut repellendus debitis suscipit</li>
        </ol>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum dolore
          non totam quis, atque fugit velit voluptatum quibusdam ex harum
          sapiente quas quam! Maxime quo excepturi nisi voluptas error
          recusandae? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Cupiditate laborum hic doloribus? Eos, ullam. Asperiores quia
          delectus, sequi commodi deserunt iusto sapiente, modi consectetur
          numquam molestiae, quisquam nesciunt ipsam voluptas.
        </p>

        <h2>Sequi commodi deserunt iusto</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, eos
          iure aperiam in possimus ipsum nemo voluptatem alias blanditiis.
          Incidunt, impedit eaque dolore quia sint soluta repellat maiores nam
          dicta.
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          <strong> Sed repellat quasi cupiditate</strong> dolor provident
          maiores repudiandae delectus doloremque aperiam explicabo tenetur
          mollitia, asperiores animi earum! Voluptatibus sed soluta ut.
          Possimus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad
          sit praesentium optio, veniam iusto assumenda! Expedita odio eos nulla
          ipsa iusto aspernatur quas aut placeat necessitatibus, deleniti modi
          cum veniam.
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non rem eos,
          magnam iure officiis adipisci dignissimos nulla aliquam, eius
          recusandae autem? Voluptates quidem temporibus perferendis et soluta
          officia quisquam nisi.
        </p>
      </section>
      <hr>
      <section style="text-align: center;">
        <img src="/img/facebook.svg" width="64px" alt="facebook">
        <img src="/img/instagram.svg" width="64px" alt="instagram">
        <img src="/img/linkedin.svg" width="64px" alt="linkedin">
        <img src="/img/youtube.svg" width="64px" alt="youtube">
      </section>
    </div>
  </body>
</html>
