<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <title>Contato :: devHouse ::</title>
  </head>
  <body>
    <section class="header">
      <div class="container">
        <div class="menu">
          <img src="/img/logo.png" alt="devHouse logo" />
          <nav class="link">
            <a href="http://">Home</a>
            <a href="http://">Produtos</a>
            <a href="http://">Depoimentos</a>
            <a href="http://">Blog</a>
          </nav>
          <div class="menu-right">
            <span>+00 123 456 789</span>
            <button class="btn-primary">Contato</button>
          </div>
          <div class="menu-mobile">
            <img src="/img/menu-icon.svg" alt="menu-mobile" />
          </div>
        </div>
      </div>
    </section>
    <section class="form-contato">
      <div class="container">
        <div class="full-contato">
          <div class="contato-left">
            <h3>Contato</h3>
            <p>
              Questions or concerns? Just fill out the form below and our
              support team will get back to you within 24 hours
            </p>
          </div>
          <div class="contato-right">
            <div class="fullname">
              <input
                type="text"
                name="firstname"
                id="firstname"
                placeholder="First Name"
              />
              <input
                type="text"
                name="lastname"
                id="lastname"
                placeholder="Last Name"
              />
            </div>
            <div class="fullinput">
              <input
                type="text"
                name="phone"
                id="phone"
                placeholder="Phone Number"
              />
              <select name="service" id="service">
                <option value="Digital Promo">WebSite</option>
                <option value="Digital Services">Dev Ops</option>
              </select>
            </div>
            <div class="form-button">
              <button class="btn-primary btn-form" type="submit">
                Submit Now
              </button>
              <button class="btn-secondary btn-form" type="reset">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero-contato">
      <div class="container">
        <div class="fullhero">
          <div class="hero-contato-left">
            <h2>Ready to launch your next website?</h2>
          </div>
          <div class="hero-contato-right">
            <button class="btn-secondary">Get in touch now</button>
            <p>Or, take a peek inside our design studio</p>
          </div>
        </div>
      </div>
    </section>

    <footer class="contato-footer">
      <div class="container">
        <div class="contato-footer-left">
          <img src="/img/logo.png" alt="devHouse logo" />
          <p>
            Digits is a website template built to work seamlesly with the
            WordPress block editor to create beautifully designed pages in
            minutes.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
