<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <title>devHouse</title>
  </head>
  <body>
    <section class="header">
      <div class="container">
        <div class="menu">
          <img src="/img/logo.png" alt="" />
          <nav class="link">
            <a href="http://">Home</a>
            <a href="http://">Produtos</a>
            <a href="http://">Depoimentos</a>
            <a href="http://">Blog</a>
          </nav>
          <div class="menu-right">
            <span>+00 123 456 789</span>
            <button class="btn-primary">Contato</button>
          </div>
        </div>
      </div>
    </section>
    <section class="banner">
      <div class="container">
        <div class="wrapper-banner">
          <h3>
            Good design meets<br />
            great user experience
          </h3>
          <h5>For everyone, from beginners to experts</h5>
          <div>
            <button class="btn-primary">Buy Digits</button>
            <button class="btn-secondary">See the Features</button>
          </div>
          <img src="/img/banner.png" alt="banner">
        </div>
      </div>
    </section>
  </body>
</html>
