@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: #1e266d;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(35px / 2);
  padding-right: calc(35px / 2);
}

.menu {
  display: flex;
  align-items: center;
  height: 82px;
}

.link {
  margin-left: 20px;
}

.link a {
  margin-right: 38px;
  color: #1e266d;
  text-decoration: none;
  font-size: 16px;
}

.menu-right {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}

.menu-right span {
  padding-right: 34px;
}

.btn-primary {
  background-color: #3751ff;
  border: none;
  border-radius: 100px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-secondary {
  background-color: #fff;
  border: none;
  border-radius: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  color: #455880;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.banner {
  background: linear-gradient(
    180deg,
    rgba(242, 249, 255, 0.12) 50%,
    #f2f9ff 50%
  );
}

.wrapper-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  justify-content: center;
}

.wrapper-banner * {
  margin-top: 20px;
}

.wrapper-banner h3 {
  font-size: 56px;
  font-weight: 500;
  text-align: center;
}

.wrapper-banner h5 {
  font-size: 18px;
  color: #455880;
}

.wrapper-banner button {
  padding: 10px 35px;
}

.menu-mobile {
  display: none;
}

@media (max-width: 950px) {
  .banner img {
    display: none;
  }

  .link {
    display: none;
  }

  .menu-right {
    display: none;
  }

  .menu-mobile {
    display: block;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .wrapper-banner {
    padding: 10px;
  }

  .wrapper-banner * {
    margin-top: 40px;
  }

  .wrapper-banner h3 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
  }

  .break {
    display: none;
  }
}

@media (min-width: 950px) {
  .banner img {
    display: block;
  }
}

.form-contato {
  margin-top: 130px;
  margin-bottom: 40px;
}

.full-contato {
  display: flex;
  justify-content: center;
}

.contato-left {
  width: 480px;
  margin-right: 130px;
}

.contato-left h3 {
  font-size: 48px;
  font-weight: 500;
}

.contato-left p {
  margin-top: 40px;
}

.contato-right {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input[type=text], select {
  padding: 22px 20px;
  width: 100%;
  margin: 13px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.fullname {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.btn-form {
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 18px 35px;
}

.form-button {
  margin-top: 13px;
}

.hero-contato {
  background-color: #3751FF;
  padding-top: 88px;
  padding-bottom: 115px;
}

.fullhero {
  display: flex;
  justify-content: space-between;
}

.hero-contato-left h2 {
  width: 430px;
  font-size: 48px;
  color: #fff;
}

.hero-contato-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.hero-contato-right button {
  margin-bottom: 20px;
}

.hero-contato-right p {
  color: #fff;
}

.contato-footer {
  background: url(/img/Footer.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 660px;
}

.contato-footer-left {
  padding-top: 124px;
  width: 330px;
  color: #455880;
  line-height: 145%;
  font-size: 18px;
}

.contato-footer-left img {
  margin-bottom: 10px;
}